<p>login works!</p>
<
<div class="head">
    <div class="mauto">
        <mat-card>
            <mat-card-title>Login here..</mat-card-title>
            <mat-card-subtitle>Enter mail and password here</mat-card-subtitle>
            <mat-card-content>
                <form action="">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Enter email" required>
                    </mat-form-field>
                    <mat-divider></mat-divider>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Enter password" required>
                    </mat-form-field>
                    <mat-divider></mat-divider>

                    <mat-card-actions>
                        <button (click)="login()" type="submit" mat-raised-button>
                            <mat-spinner diameter='20' *ngIf="isLoading"></mat-spinner>
                            <span *ngIf="!isLoading">Login</span></button>
                    </mat-card-actions>
                   
         
                </form>
            </mat-card-content>
            

        </mat-card>
        
    </div>
   
</div>
