<button>Click me</button>
<button mat-button>Basic MAt Button</button>
<mat-card>
  <mat-card-header>
    <mat-card-title>Sandhya</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-toolbar color="primary" class="head btn">
  material
  <a href="" mat-button>login</a>
  <a href="" color='warn' mat-raised-button>raise</a>
  <a href="" color='warn' mat-flat-button>flat</a>
  <a href="" color='warn' mat-stroked-button>stroke</a>
  <a href="" color='warn' mat-icon-button>icon</a>
  <a href=""  mat-fab-button>fab</a>
  <a href="" color='warn' mat-mini-fab-button>fab</a>
</mat-toolbar>

<mat-toolbar>
  <a routerLink="blog" href="" mat-stroked-button>Blog</a>
  <a routerLink="login" href="" mat-stroked-button>Login</a>
  <div>
    <mat-icon matBadge="15" matBadgeColor="warn">
notifications
    </mat-icon>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Burger</button>
  <button mat-menu-item>Chat</button>
</mat-menu>
</mat-toolbar>



<router-outlet></router-outlet>