<p>admin works!</p>
<table mat-table [dataSource]="dataSource">
    <mat-text-column name="position"></mat-text-column>
    <mat-text-column name="name"></mat-text-column>

    <mat-text-column name="symbol"></mat-text-column>

    <mat-text-column name="weight"></mat-text-column>
    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> actions </th>
        <td mat-cell *matCellDef="let user"> {{user.score}} 
            <button>Edit</button>
            <button>Delete</button>

        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>


  </table>