<p>blog-page works!</p>
<app-single-blog></app-single-blog>

<mat-grid-list cols="3" rowHeight="1:1" gutterSize="0">
    <mat-grid-tile><app-single-blog></app-single-blog></mat-grid-tile>
    <mat-grid-tile><app-single-blog></app-single-blog></mat-grid-tile>
    <mat-grid-tile><app-single-blog></app-single-blog></mat-grid-tile>
    <mat-grid-tile><app-single-blog></app-single-blog></mat-grid-tile>
    <mat-grid-tile><app-single-blog></app-single-blog></mat-grid-tile>

    <mat-grid-tile><app-single-blog></app-single-blog></mat-grid-tile>

    <mat-grid-tile><app-single-blog></app-single-blog></mat-grid-tile>

  </mat-grid-list>